<h2>ToDo App !</h2>

<% if notice.present? %>
  <%= notice %>
<% end %>
<% if alert.present? %>
  <%= alert %>
<% end %>
<br>

<ul class="list-group">  
  <% @todos.each do |todo| %>
    <li class="list-group-item"> 
      <%= todo.description %> 
      <div style="padding-top:10px">
        <%= link_to "Ver", todo_path(todo), class:"btn btn-info" %> 
        <%= link_to "Editar", edit_todo_path(todo), class:"btn btn-success" %> 
        <%= link_to "Eliminar", todo_path(todo), class:"btn btn-danger", data: {confirm: 'Estas seguro?', method: :delete} %> 
        <%= link_to "Completar", complete_path(todo), class:"btn btn-warning", method: :patch %> 
      </div>
    </li>
  <% end %>  
</ul>
<br>
<%= link_to '+', todos_new_path, class:"btn btn-primary" %> 

